/* ╔════════════════════════════════════════ FONT ════════════════════════════════════════╗ */

    @font-face {
        font-family: "Rowdies Bold";
        src: url("./font/Rowdies/Rowdies-Bold.ttf");
        font-weight: bold;
    }

    @font-face {
        font-family: "Rowdies";
        src: url("./font/Rowdies/Rowdies-Regular.ttf");
        font-weight: normal;
    }

    @font-face {
        font-family: "Rubik";
        src: url("./font/Rubik/Rubik.ttf");
        font-weight: normal;
    }

    @font-face {
        font-family: "RubikMonoOne";
        src: url("./font/Rubik/RubikMonoOne-Regular.ttf");
        font-weight: bold;
    }

/* ╚══════════════════════════════════════════════════════════════════════════════════════╝ */