// ╔════════════════════════════════════════ ════ ════════════════════════════════════════╗

    .btn {
        user-select: none;
        -webkit-user-drag: none;
        height: var(--base-btn-height);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-sm);
        padding: var(--spacing-sm) var(--spacing-lg);
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-medium);
        border: none;
        border-radius: var(--radius-md);
        cursor: pointer;
        transition: all var(--transition-fast);
        text-decoration: none;
        white-space: nowrap;
        background: var(--color-primary);

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &--primary {
            background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
            color: white;
            box-shadow: var(--shadow-sm);

            &:hover:not(:disabled) {
                transform: translateY(-1px);
                box-shadow: var(--shadow-md);
            }

            &:active:not(:disabled) {
                transform: translateY(0);
            }
        }

        &--secondary {
            background-color: var(--bg-color-tertiary);
            color: var(--text-color-primary);
            border: var(--border-primary);

            &:hover:not(:disabled) {
                background-color: var(--bg-color-quaternary);
            }
        }

        &--danger {
            background-color: var(--color-danger);
            color: white;

            &:hover:not(:disabled) {
                opacity: 0.9;
                transform: translateY(-1px);
            }
        }

        &--small {
            padding: var(--spacing-xs) var(--spacing-md);
            font-size: var(--font-size-sm);
            height: 30px;
            width: 30px;

            // media
            @media (max-width: 768px) {
                scale: 0.85;
            }
        }

        &--large {
            min-height: 45px;
            padding: var(--spacing-md) var(--spacing-xl);
            font-size: var(--font-size-lg);
        }

        &--full-width {
            width: 100%;
        }

        &--icon-only {
            // padding: var(--spacing-sm) var(--spacing-md);
            width: fit-content !important;

            // mobile
            @media (max-width: 768px) {
                padding: var(--spacing-sm) var(--spacing-sm);
            }
        }
    }

// ╚══════════════════════════════════════════════════════════════════════════════════════╝
